@import "../../styles/colors.module.scss";

.main {
  background-color: $container-bg;
  position: absolute;
  left: 520px;
  top: 130px;
  width: 52%;
  height: 55%;
}

.nameHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.name {
  position: absolute;
  left: 85px;
}

.close {
  cursor: pointer;
}

.binAndPenContainer {
  display: flex;
  position: absolute;
  right: 30px;
  width: 70px;
  justify-content: space-between;
}

.binAndPenCircle {
  cursor: pointer;
  width: 25px;
  height: 25px;
  border: 1px solid $base-side-grey;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

.hrLine {
  background-color: $base-hrLine;
  opacity: 0.6;
  margin-top: 60px;
}
