
@import '../../styles/colors.module.scss';

.profileMain {
  margin-top: 60px;
}

.profileContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid $base-side-grey;
}

.centerTagInJustify {
  position: absolute;
  left: 150px;
}