@import '../styles/colors.module.scss';


.addButton {
  background-color: $base-side-grey;
  border: unset;
  color: $container-bg;
  width: 87%;
  height: 64px;
  font-size: 50px;
  position: absolute;
  bottom: 60px;
  cursor: pointer;
}
