@use "sass:math";
@import "./colors.module.scss";
@import "./variables.module.scss";

.mainContiner {
  background: linear-gradient(
    117deg,
    rgba(245, 192, 239, 1) -0.3%,
    rgba(87, 116, 164, 1) 96%
  );
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.container {
  background-color: $bg-login;
  height: $base-height * 3;
  width: $base-width * 5;
  border-radius: $base-border-radius * 4.5;
  box-shadow: $base-box-shadow;
  position: $base-relative;
  top: $base-top * 22;
}

.manContainer {
  width: $base-width;
  position: $base-absolute;
  left: $base-left * 16;
  top: $base-top * -8;
}

.man {
  position: $base-absolute;
  top: $base-top * 3;
  left: $base-left * 3.5;
  z-index: 30px;
  width: $base-width;
}

.inputContainer {
  margin-top: 120px;
  display: flex;
  background-color: $bg-manHolder;
  width: 440px;
  margin-left: 30px;
  border-radius: $base-border * 10;
}

.loginInput {
  width: 400px;
  background-color: #395173;
  outline: none;
  border-radius: 0px 10px 10px 0px;
  font-size: 20px;
  color: #ffffff;
  border: unset;
}

.keyContainer {
  padding: 5px;
}

.hintBtn {
  background-color: $bg-manHolder;
  width: 440px;
  margin-left: 30px;
  margin-top: 30px;
  height: 40px;
  border-radius: $base-border * 10;
  cursor: pointer;
  font-size: 20px;
  color: #ffffff;
  border: unset;
}

.loginBtn {
  height: 64px;
  width: 390px;
  background: rgba(255, 255, 255, 0.35);
  box-shadow: 0px 18px 29px -5px rgba(0, 0, 0, 0.25);
  border-radius: 0px 0px 32px 32px;
  border: unset;
  position: absolute;
  bottom: 237px;
  font-size: 20px;
  color: #ffffff;
}
