@use "sass:math";
@import "./colors.module.scss";
@import "./variables.module.scss";

.mainContiner {
  background: linear-gradient(
    117deg,
    rgba(245, 192, 239, 1) -0.3%,
    rgba(87, 116, 164, 1) 96%
  );
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: $bg-login;
  width: 516px;
  height: 272px;
  border-radius: 46px;
  box-shadow: 0px 18px 29px -5px rgba(0, 0, 0, 0.25);
}

.circle {
  display: flex;
  justify-content: center;
  margin-top: -90px;
}

.man {
  display: flex;
  justify-content: center;
  margin-top: -160px;
}

.inputContainer {
  margin-top: 60px;
  display: flex;
  background-color: $bg-manHolder;
  width: 440px;
  margin-left: 30px;
  border-radius: 0px 10px 10px 0px;
}

.loginInput {
  width: 400px;
  background-color: #395173;
  outline: none;
  border-radius: 0px 10px 10px 0px;
  font-size: 20px;
  color: #ffffff;
  border: unset;
}

.keyContainer {
  padding: 5px;
}

.forgetPassword {
  margin-left: 27px;
}

// .hintBtn {
//   background-color: $bg-manHolder;
//   width: 440px;
//   margin-left: 30px;
//   margin-top: 30px;
//   height: 40px;
//   border-radius: $base-border * 10;
//   cursor: pointer;
//   font-size: 20px;
//   color: #ffffff;
//   border: unset;
// }

.loginBtn {
  height: 64px;
  width: 390px;
  background: rgba(255, 255, 255, 0.35);
  box-shadow: 0px 18px 29px -5px rgba(0, 0, 0, 0.25);
  border-radius: 0px 0px 32px 32px;
  border: unset;
  font-size: 20px;
  color: #ffffff;
  cursor: pointer;
  margin-top: 50px;
  margin-left: 60px;
}
