@import "./colors.module.scss";

.main {
  position: absolute;
  background-color: $container-bg;
  height: 100%;
  width: 32%;
  padding-left: 60px;
  padding-top: 70px;
}

.searchInput {
  outline: none;
  border: unset;
  font-size: 18px;
  padding-left: 15px;
  color: #919191;
}

.imgInputContainer {
  display: flex;
}

.hrLine {
  margin-top: 40px;
  background-color: $base-hrLine;
  opacity: 0.6;
}

.addButton {
  background-color: $base-side-grey;
  border: unset;
  color: $container-bg;
  width: 87%;
  height: 64px;
  font-size: 50px;
  position: absolute;
  bottom: 60px;
  cursor: pointer;
}

.liSide {
  list-style-type: none;
  margin-left: 10px;
  cursor: pointer;
}

.bulletLiContainer {
  display: flex;
  padding: 10px;
}

.ul {
  margin-left: -15px;
  padding: 0;
}
