$base-margin: 10px;
$base-padding: 10px;
$base-border: 1px;
$base-border-radius: 10px;
$base-box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
$base-font-size: 10px;
$full-width: 100%;
$full-height: 100%;
$base-width: 100px;
$base-height: 100px;
$base-flex: flex;
$base-center: center;
$base-absolute: absolute;
$base-relative: relative;
$base-top: 10px;
$base-bottom: 10px;
$base-right: 10px;
$base-left: 10px;